<?php
/**
 * @var BSS\FAQs\Block\FaqCategory\Category $block
 */

$urlPrefix = $block->getBaseUrl() . 'faqs/faq/index';
?>
<div class="faq-category">
    <div class="section-title">FAQ Categories</div>
    <?php if (!empty($block->getActiveFaqCategories())): ?>
        <div class="category-list">
            <?php foreach ($block->getActiveFaqCategories() as $category): ?>
                <div class="category-wrapper">
                    <a href="<?= /* @noEscape */ $urlPrefix . '/' . 'id' . '/' . $category['cate_id'] ?>"
                       class="category-image">
                        <img src="<?=$block->getViewFileUrl('BSS_FAQs::images/faq81x81.png'); ?>"
                             alt="<?= $block->escapeHtml(__($category['cate_name'])) ?>">
                    </a>
                    <div class="category-title"><?= $block->escapeHtml(__($category['cate_name'])) ?></div>
                </div>
            <?php endforeach;?>
        </div>
    <?php else: ?>
        <h4>There are no FAQ Categories found.</h4>
    <?php endif; ?>
</div>
