.category-image > img {
    display: inline;
}

.category-title {
    display: inline;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-weight: bold;
    color: #198dd3;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #198dd3 ;
    line-height: 1.5;
    font-size: 18px;
}
.faq-category{
    margin-bottom: 2em;
}
