<?php
/**
 * @var BSS\FAQs\Block\Faq\Faq $block
 */
$faqs = $block->getActiveFaqs();
$faqCategory = $block->getFaqCategory();
$customerId = $block->getCustomerId();

?>
<div id ="modal_content" class="confirmPopup">Do you want to login?</div>
<div class="faq-category">
    <div class="section-title">
        <img src="<?=$block->getViewFileUrl('BSS_FAQs::images/faq81x81.png'); ?>"
             alt="<?= $block->escapeHtml(__($faqCategory['cate_name'])) ?>">
        <span><?= $block->escapeHtml(__($faqCategory['cate_name'])) ?></span>
    </div>
</div>
<input id="customerID" type="hidden" value="<?= $customerId != "NOT_LOGIN" ? $customerId : 0 ?>"></input>
<input id="value" type="hidden"></input>
<input id="name" type="hidden"></input>
<div class="faq-list" data-mage-init='{
        "accordion":{
            "active": false,
            "collapsible": true,
            "openedState": "active",
            "multipleCollapsible": true
        }}'>
    <?php foreach ($faqs as $faq): ?>
        <div id = "<?= "modal_faq_" . $faq['faq_id'] ?>" class="faq-wrapper" data-mage-init='{"faqjs":{"FaqId": "<?= $faq['faq_id'] ?>", "customerId" : "<?= $customerId?>", "statusAction" : "<?= $block->checkStatus($customerId , $faq['faq_id']) ?>"}}'>
            <div class="faq-title" data-role="collapsible">
                <div data-role="trigger"><?= $block->escapeHtml(__($faq['faq_name'])) ?></div>
                <div data-role="trigger">(<span id = "<?= "modal_view_" . $faq['faq_id'] ?>"><?= $faq['faq_view']?></span> views)</div>
                <div data-role="trigger">Like: <span id = "<?= "modal_like_" . $faq['faq_id'] ?>"><?= $faq['faq_like']?></span> & Dislike: <span id = "<?= "modal_dislike_" . $faq['faq_id'] ?>"><?= $faq['faq_dislike']?></span></div>
            </div>
        </div>
        <div id="<?= "modal_content_" . $faq['faq_id'] ?>">
            <div class="modal-body-content">
                <b><div data-role="trigger" class="modal-faq-title"><?= $block->escapeHtml(__($faq['faq_name'])) ?></div></b>
                <div data-role="content">Created by <?= $block->escapeHtml(__($faq['user_create_name'])) ?></div>
                <div class="faq-content" data-role="content"><b>QUESTION</b><br><?= $block->escapeHtml(__($faq['faq_question'])) ?></div>
                <div class="faq-content" data-role="content"><b>ANSWER</b><br><?= $block->escapeHtml(__($faq['faq_answer'])) ?></div>
                <br>
                <b><div id ="statusAction<?= $faq['faq_id'] ?>" class="statusAction" data-role="content"></div></b>
            </div>
        </div>
    <?php endforeach;?>
</div>
